<form nz-form [formGroup]="validateForm">

  <!-- Team's Name -->
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6">
      <h6>Name</h6>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="teamErrorTpl">
      <input nz-input formControlName="teamName" placeholder="Team name" />
      <ng-template #teamErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your team's name!</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">The team name is already used!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Team's Time zone -->
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6">
      <h6>Time zone</h6>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzHasFeedback [nzErrorTip]="timeZoneErrorTpl">
      <nz-select formControlName="teamTimeZone" nzShowSearch nzAllowClear nzPlaceHolder="Select a timezone">
        <nz-option *ngFor="let tz of this.timeZoneList" nzLabel="{{tz}}" nzValue="{{tz}}"></nz-option>
      </nz-select>
      <ng-template #timeZoneErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your team's timezone!</ng-container>
        <ng-container *ngIf="control.hasError('invalid')">Please input a valid timezone!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

</form>
