<form nz-form [formGroup]="validateForm">

  <!-- User name -->
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6">
      <h6>Username</h6>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="userName" placeholder="username" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your username.</ng-container>
        <ng-container *ngIf="control.hasError('message')">{{control.errors.message}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Email -->
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6">
      <h6>Email</h6>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="email" placeholder="email" type="email" />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('message')">{{control.errors.message}}</ng-container>
        <ng-container *ngIf="control.hasError('required')">Please input your E-mail.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Password -->
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6">
      <h6>Password</h6>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordWarningTpl" [nzWarningTip]="passwordWarningTpl">
      <input (ngModelChange)='onPasswordChange($event)' nz-input type="password" formControlName="password" />
      <ng-template #passwordWarningTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your password.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-0">
    <nz-form-control [nzOffset]="6" [nzSpan]="12">
      <password-strength-meter (strengthChange)="onStrengthChange($event)" [enableFeedback]="true" [password]="password"></password-strength-meter>
    </nz-form-control>
  </nz-form-item>

</form>

