<div class="container boarding d-flex align-items-center">

  <div class="d-flex justify-content-center w-100">
    <div class="col-8">

      <div class="w-100 mb-5">
        <h1 >How should we start ?</h1>
      </div>

      <div class="w-100 mb-3">
        <nz-card class="w-100" nzHoverable routerLink="/auth/register">
          <div class="d-flex justify-content-between align-items-center ">
            <div class="d-flex align-items-center ">
              <img style="height: 4em" src="assets/images/005-achievement.png" alt="create-your-team">
              <div class="ml-4">
                <h5 class="mb-0" >You want to create your own team</h5>
                <small class="text-muted">Start your own private space and invite your collaborators to join.</small>
              </div>
            </div>
            <i nz-icon class="arrow" style="font-size: 2em;" nzType="right" nzTheme="outline"></i>
          </div>
        </nz-card>
      </div>

      <div class="w-100 mb-3">
        <nz-card class="w-100" nzHoverable routerLink="/auth/login">
          <div class="d-flex justify-content-between align-items-center ">
            <div class="d-flex align-items-center ">
              <img style="height: 4em" src="assets/images/020-goal.png" alt="create-your-team">
              <div class="ml-4">
                <h5 class="mb-0">You want to join an existing team</h5>
                <small class="text-muted">Connect to your existing team's private space and join your collaborators.</small>
              </div>
            </div>
            <i nz-icon class="arrow" style="font-size: 2em;" nzType="right" nzTheme="outline"></i>
          </div>
        </nz-card>
      </div>


    </div>
  </div>

</div>
