<nz-form-item class="my-5">
  <nz-form-control *ngIf="current<3" [nzOffset]="6" [nzSpan]="12">
    <label class="text-muted">Step {{ current + 1 }} of 3</label>
  </nz-form-control>
  <nz-form-control [nzOffset]="6" [nzSpan]="12">
    <h1 *ngIf="current == 0">First, what's the name of your company or team ?</h1>
    <h1 *ngIf="current == 1">Then, create your personal account</h1>
    <h1 *ngIf="current == 2">What would you like to use 🌱MyLittleSaasApplication first ?</h1>
    <h1 *ngIf="current == 3">We're getting  things ready, hold on a sec</h1>
  </nz-form-control>
</nz-form-item>

<nz-tabset [nzSelectedIndex]="current">
  <nz-tab>
    <app-team-registration-step001 [validateForm]="this.validateForm" [timeZoneList]="this.timeZoneList"></app-team-registration-step001>
  </nz-tab>
  <nz-tab>
    <app-team-registration-step002 [validateForm]="this.validateForm" ></app-team-registration-step002>
  </nz-tab>
  <nz-tab>
    <app-team-registration-step003 [validateForm]="this.validateForm"></app-team-registration-step003>
  </nz-tab>
  <nz-tab>
    <app-team-registration-step004></app-team-registration-step004>
  </nz-tab>
</nz-tabset>

<div [formGroup]="validateForm" nz-row class="mt-5" *ngIf="current<3">
  <div nz-col [nzOffset]="6" [nzSpan]="12">
    <div class="steps-action">
      <button class="mr-2" nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
        <span>Next</span>
      </button>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="done()" *ngIf="current === 2">
        <span>Done</span>
      </button>
    </div>
  </div>
</div>
