<div class="container">
  <div class="row header">
    <div class="col-2"></div>
    <div class="col-10 row">
      <div class="col-3">
        <h5 class="ml-1">High-priority</h5>
      </div>
      <div class="col-3">
        <h5 class="ml-1">Low-priority</h5>
      </div>
      <div class="col-3">
        <h5 class="ml-1">Misc</h5>
      </div>
      <div class="col-3">
        <h5 class="ml-1">Ideas</h5>
      </div>
    </div>
  </div>
  <div class="row header api">
    <div class="col-2 d-flex align-items-end">
      <h6>Api</h6>
    </div>
    <div class="col-10 row">
      <div class="col-3">
        <nz-card>
          <p>User management : Allow user to join / disable existing user.</p>
        </nz-card>
      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
    </div>
  </div>
  <div class="row header angular">
    <div class="col-2 d-flex align-items-end">
      <h6>Angular</h6>
    </div>
    <div class="col-10 row">
      <div class="col-3">
        <!-- write card elements here -->
        <nz-card>
          <p>User management screen for admin.</p>
        </nz-card>
        <nz-card>
          <p>Login using realm</p>
        </nz-card>
      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
      <div class="col-3">
        <!-- write card elements here -->
        <nz-card>
          <p>Connect using Angular : By-pass keycloak screen.</p>
        </nz-card>
      </div>
    </div>
  </div>
  <div class="row header keycloak">
    <div class="col-2 d-flex align-items-end">
      <h6>Keycloak</h6>
    </div>
    <div class="col-10 row">
      <div class="col-3">

      </div>
      <div class="col-3">
        <!-- write card elements here -->
      </div>
      <div class="col-3">
        <!-- write card elements here -->
        <nz-card>
          <p>Use custom theme for emails and screens.</p>
        </nz-card>
      </div>
      <div class="col-3">
        <!-- write card elements here -->
        <nz-card>
          <p>Allow user to create teams inside tenants.</p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
