@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Raleway Regular"),
  url("/assets/fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Raleway SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Raleway SemiBold"),
  url("/assets/fonts/Raleway/static/Raleway-SemiBold.ttf") format("truetype");
}

