h1 {
  font-family: "Raleway SemiBold", sans-serif;
  color: #3e4450;
}
h4 {
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #858ea1;
}

#hero {
  padding-top: 150px;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
